<footer class="mt-auto">
    
    <h6>Made with &hearts; by AKSHIT SAINI</h6>
    
    <div class="footer_icon_box">
        <div class="footer_icon">
        <a href="">
            <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-square-linkedin"></i>
        </a>

        <a href="">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
        </div>
    </div>
</footer>