.profile_header{
    width: 98%;
    display: flex;
    margin: 1%;
    box-shadow: 1px 1px 4px black;
    padding: 15px 0 10px 5px;
    border-radius: 10px;

}

.profile_image_large{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aquamarine;
    margin-right: 10px;
}

.post__{
    width: 98%;
    margin-left: 1%;
    text-align: center;
    box-shadow: 1px 1px 4px #000;
}