.main_comment_div{
    width: 98%;
    margin: 10px 1%;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;

}

.comment_div_head{
    width: 100%;
    height: 60px;
    margin-top: 0;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0 ;
    background-color: rgb(241, 233, 233);
}

.comment_div_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid black; */
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 4px;
}

.comment_info{
    /* border: 1px solid black; */
    margin-top: 2px;
}

.comment_info h5{
    margin: 0;
    color: #00796B;
}

.comment_info p{
    margin: 0;
    color: grey;
}

.profile_image__{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 4px;
}

.comment__{
    /* border: 1px solid black; */
    margin-top: 4px;
    padding: 0 10px 10px 5px;
    min-height: 50px;
}

/* .cmnt_edit_btn{
    width: 80px;
    margin: 10px;
    border-radius: 10px;
    background-color: #00796B;
    border-color: #00796B;
    color: #fff;
} */

.cmnt_delete_btn{
    width: 80px;
    margin: 10px;
    border-radius: 10px;
    background-color: #A80000;
    border-color: #A80000;
    color: #fff;
}